fastapi
uvicorn
pymongo
motor
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
PyMuPDF
openai
pydantic
python-dateutil
aiofiles
langchain-groq
langchain-core
langchain-community
pydantic[email]